<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Nivesh | Dashboard</title>

  <!-- Stylesheets -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/responsive.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>

  <div class="page-wrapper dashboard ">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <%- include("../components/DashboardHeader") -%>
      <!--End Main Header -->

      <!-- Sidebar Backdrop -->
      <div class="sidebar-backdrop"></div>

      <!-- User Sidebar -->
      <%- include("../components/DashboardSidebar") -%>
        <!-- End User Sidebar -->

        <!-- Dashboard -->
        <section class="user-dashboard">
          <div class="dashboard-outer">
            <div class="upper-title-box">
              <h3>Howdy, Invision!</h3>
              <div class="text">Ready to jump back in?</div>
            </div>
            <div class="row">
              <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item">
                  <div class="left">
                    <i class="icon flaticon-briefcase"></i>
                  </div>
                  <div class="right">
                    <h4>22</h4>
                    <p>Portfolio</p>
                  </div>
                </div>
              </div>
              <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-red">
                  <div class="left">
                    <i class="icon la la-file-invoice"></i>
                  </div>
                  <div class="right">
                    <h4>9382</h4>
                    <p>Application</p>
                  </div>
                </div>
              </div>
              <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-yellow">
                  <div class="left">
                    <i class="icon la la-comment-o"></i>
                  </div>
                  <div class="right">
                    <h4>74</h4>
                    <p>Messages</p>
                  </div>
                </div>
              </div>
              <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="ui-item ui-green">
                  <div class="left">
                    <i class="icon la la-bookmark-o"></i>
                  </div>
                  <div class="right">
                    <h4>32</h4>
                    <p>Shortlist</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">


              <div class="col-xl-7 col-lg-12">
                <!-- Graph widget -->
                <div class="graph-widget ls-widget">
                  <div class="tabs-box">
                    <div class="widget-title">
                      <h4>Your Profits</h4>
                      <div class="chosen-outer">
                        <!--Tabs Box-->
                        <select class="chosen-select">
                          <option>Last 6 Months</option>
                          <option>Last 12 Months</option>
                          <option>Last 16 Months</option>
                          <option>Last 24 Months</option>
                          <option>Last 5 year</option>
                        </select>
                      </div>
                    </div>

                    <div class="widget-content">
                      <canvas id="chart" width="100" height="45"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-5 col-lg-12">
                <!-- Notification Widget -->
                <div class="notification-widget ls-widget">
                  <div class="widget-title">
                    <h4>Notifications</h4>
                  </div>
                  <div class="widget-content">
                    <ul class="notification-list">
                      <li><span class="icon flaticon-briefcase"></span> <strong>Wade Warren</strong> applied for a job
                        <span class="colored">Web Developer</span></li>
                      <li><span class="icon flaticon-briefcase"></span> <strong>Henry Wilson</strong> applied for a job
                        <span class="colored">Senior Product Designer</span></li>
                      <li class="success"><span class="icon flaticon-briefcase"></span> <strong>Raul Costa</strong>
                        applied for a job <span class="colored">Product Manager, Risk</span></li>
                      <li><span class="icon flaticon-briefcase"></span> <strong>Jack Milk</strong> applied for a job
                        <span class="colored">Technical Architect</span></li>
                      <li class="success"><span class="icon flaticon-briefcase"></span> <strong>Michel Arian</strong>
                        applied for a job <span class="colored">Software Engineer</span></li>
                      <li><span class="icon flaticon-briefcase"></span> <strong>Ali Tufan</strong> applied for a job
                        <span class="colored">UI Designer</span></li>
                    </ul>
                  </div>
                </div>
              </div>


              <div class="col-lg-12">
                <!-- Financial Charts Widget -->
                <div class="applicants-widget ls-widget">
                  <div class="widget-title">
                    <h3 style="margin-top: 20px;">Your Financial Overview</h3>
                  </div>
                  <div class="widget-content">
                    <div class="row">
                      <div class="col-lg-12">
                        <!-- Results section for displaying pie and doughnut charts -->
                        <div id="result">
                              <div class="charts-container" style="background-color: white; padding: 10px; border-radius: 8px; display: flex; align-items: center; width: 50%;">
                                  <canvas id="financialChart" width="250" height="250" style="margin-bottom: 2px;"></canvas> <!-- Further reduced width and height -->
                                  <canvas id="doughnutChart" width="250" height="250" style="margin-top: 0;"></canvas> <!-- Further reduced width and height -->
                              </div>
                      </div>



                      
                      <script>
                          // JavaScript to render charts
                          const salary = <%= insights.salary %>;
                          const medicalExpenses = <%= insights.medicalExpenses %>;
                          const loanEMI = <%= insights.loanEMI %>;
                          const lifestyleExpenses = <%= insights.lifestyleExpenses %>;
                          const investment = <%= insights.investment %>;
                          const emergency = <%= insights.emergency %>;
                      
                          // Data for the pie chart
                          const pieData = {
                              labels: [
                                  'Medical Expenses',
                                  'Loan EMI',
                                  'Lifestyle Expenses',
                                  'Investment Savings',
                                  'Emergency Savings'
                              ],
                              datasets: [{
                                  label: 'Financial Breakdown',
                                  data: [medicalExpenses, loanEMI, lifestyleExpenses, investment, emergency],
                                  backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF'],
                                  hoverOffset: 4
                              }]
                          };
                      
                          // Data for the doughnut chart
                          const doughnutData = {
                              labels: [
                                  'Investment Savings',
                                  'Emergency Savings'
                              ],
                              datasets: [{
                                  label: 'Savings Distribution',
                                  data: [investment, emergency],
                                  backgroundColor: ['#4BC0C0', '#9966FF'],
                                  hoverOffset: 4
                              }]
                          };
                      
                          // Render pie chart
                          const pieCtx = document.getElementById('financialChart').getContext('2d');
                          const financialChart = new Chart(pieCtx, {
                              type: 'pie',
                              data: pieData,
                              options: {
                                  responsive: true,
                                  plugins: {
                                      legend: {
                                          position: 'top',
                                      },
                                      title: {
                                          display: true,
                                          text: 'Your Financial Breakdown'
                                      }
                                  }
                              }
                          });
                      
                          // Render doughnut chart
                          const doughnutCtx = document.getElementById('doughnutChart').getContext('2d');
                          const doughnutChart = new Chart(doughnutCtx, {
                              type: 'doughnut',
                              data: doughnutData,
                              options: {
                                  responsive: true,
                                  plugins: {
                                      legend: {
                                          position: 'top',
                                      },
                                      title: {
                                          display: true,
                                          text: 'Your Savings Distribution'
                                      }
                                  }
                              }
                          });
                      </script>
                      
                      </div>

                      <!-- Your existing candidate blocks can be kept here if needed -->
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <!-- End Dashboard -->

        <!-- Copyright -->
        <div class="copyright-text">
          <p>© 2024 Nivesh. All Right Reserved.</p>
        </div>

  </div><!-- End Page Wrapper -->


  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/chosen.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery.fancybox.js"></script>
  <script src="/javascripts/jquery.modal.min.js"></script>
  <script src="/javascripts/mmenu.polyfills.js"></script>
  <script src="/javascripts/mmenu.js"></script>
  <script src="/javascripts/appear.js"></script>
  <script src="/javascripts/ScrollMagic.min.js"></script>
  <script src="/javascripts/rellax.min.js"></script>
  <script src="/javascripts/owl.js"></script>
  <script src="/javascripts/wow.js"></script>
  <script src="/javascripts/script.js"></script>

  <!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
  <script src="/javascripts/chart.min.js"></script>
  <script>
    Chart.defaults.global.defaultFontFamily = "Sofia Pro";
    Chart.defaults.global.defaultFontColor = '#888';
    Chart.defaults.global.defaultFontSize = '14';

    var ctx = document.getElementById('chart').getContext('2d');

    var chart = new Chart(ctx, {

      type: 'line',
      // The data for our dataset
      data: {
        labels: ["January", "February", "March", "April", "May", "June"],
        // Information about the dataset
        datasets: [{
          label: "Views",
          backgroundColor: 'transparent',
          borderColor: '#1967D2',
          borderWidth: "1",
          data: [196, 132, 215, 362, 210, 252],
          pointRadius: 3,
          pointHoverRadius: 3,
          pointHitRadius: 10,
          pointBackgroundColor: "#1967D2",
          pointHoverBackgroundColor: "#1967D2",
          pointBorderWidth: "2",
        }]
      },

      // Configuration options
      options: {

        layout: {
          padding: 10,
        },

        legend: {
          display: false
        },
        title: {
          display: false
        },

        scales: {
          yAxes: [{
            scaleLabel: {
              display: false
            },
            gridLines: {
              borderDash: [6, 10],
              color: "#d8d8d8",
              lineWidth: 1,
            },
          }],
          xAxes: [{
            scaleLabel: {
              display: false
            },
            gridLines: {
              display: false
            },
          }],
        },

        tooltips: {
          backgroundColor: '#333',
          titleFontSize: 13,
          titleFontColor: '#fff',
          bodyFontColor: '#fff',
          bodyFontSize: 13,
          displayColors: false,
          xPadding: 10,
          yPadding: 10,
          intersect: false
        }
      },
    });
  </script>

</body>


</html>